<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <a routerLink="/" class="navbar-brand" routerLinkActive="active" >AppDividend</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!auth.isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/auth/login" class="nav-link" routerLinkActive="active">
            Login
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/register" class="nav-link">
            Register
            </a>
          </li>
         </ng-container>
         <ng-container *ngIf="auth.isAuthenticated()">
         <li class="nav-item" >
            <a class="nav-link">
            {{ auth.getUsername() }}
            </a>
          </li>
         <li class="nav-item">
            <a class="nav-link pointer" (click)="logout()">
            Logout
            </a>
          </li>
         </ng-container>
      </ul>
    </div>
  </div>
</nav>