<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit) = "login()">
          <div class="form-group">
            <div *ngIf="notify" class="alert alert-success">
              {{ notify }}
            </div>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
              <p *ngFor = "let error of errors">
                  {{ error }}
              </p>
            </div>
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   formControlName="email">
          </div>
          <div *ngIf="isValidInput('email')"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="loginForm.controls['email'].errors.pattern">
              Must be a valid email format.
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   formControlName ="password">
          </div>
          <div *ngIf="isValidInput('password')"
            class="alert alert-danger">
            <div *ngIf="loginForm.controls['password'].errors.required">
              Password is required.
            </div>
          </div>
          <button
          [disabled]="!loginForm.valid"
          type="submit" 
          class="btn btn-warning"
          >Sign In</button>
        </form>
      </div>
    </div>
</div>